<div class="liked-list-container" data-controller="recommendations-loading">
  <%= render "components/paw_loading" %>
  <div class="page-name liked-list">
    <h1 style="color: white;">Liked Anime</h1>
  </div>
  <div class="show-wrapper">
    <div class="card-product">
      <% @liked_lists.each do |liked_animes| %>
        <div class="anime-item mb-3">
          <div class="card-design">
            <%= link_to anime_path(liked_animes.anime) do %>
              <div class="anime-item-content" data-action="click->recommendations-loading#loading">
                <% if liked_animes.anime.picture_url.nil? %>
                  <p>Image: Image Empty</p>
                <% else %>
                  <img src="<%= liked_animes.anime.picture_url %>" class="anime-image">
                <% end %>
                <div class="card-product-infos">
                  <strong>
                    <h2 style="color: white;"><%= liked_animes.anime.title %></h2>
                  </strong>
                  <div class="details-info">
                    <div class="info-border">Ep <%= liked_animes.anime.episode_count %></div>
                    <div class="info-border"><%= liked_animes.anime.start_date.year %></div>
                    <div class="info-border"><%= liked_animes.anime.studio %></div>
                  </div>
                  <p class="pb-3" style="color: white;"><%= liked_animes.anime.rating %> <i class="fa-solid fa-star rating-star"></i></p>
                  <p class="pt-1" style="color: white;">Rank: <%= liked_animes.anime.rank %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr class="card-divider">
      <% end %>
    </div>
  </div>
</div>
