<% message = [@watchlist_chat] %>
<div class="show-page-container" data-controller="typing" data-typing-message-value="<%= message %>">
  <div class="list-container" style="min-height: 100vh;">
    <div class ="page-name">
      <%= link_to root_path do %>
        <i class="fa-solid fa-arrow-left text-decoration-none" style="color: white;"></i>
      <% end %>
      <h1 style="color: white;">Watchlist</h1>
    </div>
    <div class="show-wrapper">
      <%= render "components/sort_button_colors" %>
      <% if @bookmarks.empty? %>
        <div class="empty-bookmark">
          <%= image_tag 'sleeping-panda.png', alt: 'No bookmarks' %>
          <h1 style="color: white;" >Your Watchlist is Empty</h1>
          <p style="color: white;">Add Anime by pressing <strong>"Add to Watchlist"</strong> through Anime show page</p>
        </div>
      <% else %>
        <div class="card-product">
          <% @bookmarks.each do |list_animes| %>
            <% if params[:status] == "watching" %>
              <div class="anime-status">
                <div class="status-text">
                  <h5 class="dot-status" style= "color: #01b866;"> •</h5>
                  <p style="color: white; margin-bottom: 0px;"> Watching</p>
                </div>
                <%= button_to bookmark_path(list_animes.id), method: :patch, class: "btn btn-modern-seen" do %>
                  <i class="fas fa-check"></i> Seen
                <% end %>
              </div>
            <% elsif params[:status] == "completed" %>
              <div class="anime-status">
                <div class="status-text">
                  <h5 class="dot-status" style= "color: gray;"> •</h5>
                  <p style="color: white; margin-bottom: 0px;"> Completed</p>
                </div>
              </div>
            <% end %>
            <div class="anime-item mb-3">
              <div class="anime-item-content">
                <% if list_animes.anime.picture_url.nil? %>
                  <p>Image: Image Empty</p>
                <% else %>
                  <img src=<%="#{list_animes.anime.picture_url}" %> class="anime-image">
                <% end %>
                <div class="card-product-infos">
                  <strong>
                    <h2 style="color: white;"><%= list_animes.anime.title %></h2>
                  </strong>
                  <div class="details-info">
                    <div class="info-border">Ep <%= list_animes.anime.episode_count %></div>
                    <div class="info-border"><%= list_animes.anime.start_date.year %></div>
                    <div class="info-border"><%= list_animes.anime.studio %></div>
                  </div>
                  <p style="color: white;"><%= list_animes.anime.rating %> <i class="fa-solid fa-star rating-star-list"></i></p>
                  <p class="pt-3" style="color: white;">Rank: <%= list_animes.anime.rank %></p>
                </div>
              </div>
            </div>
            <hr class="card-divider">
        <% end %>
         </div>
      <% end %>
    </div>
  </div>
  <%= render "components/panda_button" %>
</div>
