<div data-recommendations-loading-target="screen" class="d-flex justify-content-center align-items-center d-none" id="full-overlay"
    style="position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #00000069;">
  <div style="position: relative;">
    <div data-recommendations-loading-target="blackPaw" class="d-none" style=""><%= image_tag "panda_paw_black.png", width: "60px" %></div>
    <div data-recommendations-loading-target="paw" class="loading-paw" style="position: absolute; right: 60px;"><%= image_tag "panda_paw_white.png", width: "60px" %></div>
    <div data-recommendations-loading-target="paw" class="loading-paw" style="position: absolute; right: 0;"><%= image_tag "panda_paw_white.png", width: "60px", style: "position: relative; top: 15px;" %></div>
    <div data-recommendations-loading-target="paw" class="loading-paw" style="position: absolute; left: 0;"><%= image_tag "panda_paw_white.png", width: "60px", style: "position: relative; top: -15px;" %></div>
    <div data-recommendations-loading-target="paw" class="loading-paw" style="position: absolute; left: 60px;"><%= image_tag "panda_paw_white.png", width: "60px" %></div>
  </div>
</div>
