<div data-controller="show-anime-banner">
  <% random_anime = @animes.sample %>
  <%# random_anime = @animes.sort_by {|anime| anime.rating }.reverse[0..20].sample %>
  <div class="show-anime-banner" style="background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)
      ), url('<%= image_path random_anime.picture_url %>');">
    <%# <div>
      <h2>Recommended Anime</h2>
    </div> %>
    <div data-action="click->show-anime-banner#close" class="show-banner-remove-button">
      <i class="fa-solid fa-x"></i>
    </div>
    <i data-action="click->show-anime-banner#toggle" data-show-anime-banner-target="arrow" class="fa-solid fa-caret-down banner-dropdown-toggle"></i>
    <div class="d-flex justify-content-center align-items-center px-5 py-2">
      <div style="padding: 16px;">
        <%= image_tag random_anime.picture_url, style: "width: 100px;" %>
      </div>
      <div style="padding: 16px;">
        <h2><strong>Recommended!</strong></h2>
        <p><%= random_anime.title %></p>
        <%= link_to anime_path(random_anime) do %>
          <button class="btn sub-button">Check it out</button>
        <% end %>
      </div>
    </div>
    <div data-show-anime-banner-target="trailer" class="d-flex justify-content-center show-banner-trailer">
      <%= image_tag("https://static.vecteezy.com/system/resources/thumbnails/033/662/051/small/cartoon-lofi-young-manga-style-girl-while-listening-to-music-in-the-rain-ai-generative-photo.jpg", class: "trailer", width: "75%") %>
    </div>
    <%# image_tag @animes.first.picture_url %>
  </div>
</div>
