<div data-controller="typing recommendations-loading genre-toggle" data-typing-message-value="<%= [@welcome_chat.to_json] %>">
  <%= render "components/paw_loading" %>
  <div class="main-banner d-flex justify-content-center align-items-center">
    <div class="title d-flex justify-content-center align-items-center gap-1">
      <h1 style="font-size: 3rem;">AnimePanda</h1>
      <i class="fa-solid fa-paw"></i>
    </div>
  </div>
  <svg class="banner-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
    fill="var(--panda-black)"
      fill-opacity="1"
        d="M0,160L60,186.7C120,213,240,267,360,266.7C480,267,600,213,720,176C840,139,960,117,1080,122.7C1200,128,1320,160,1380,176L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
    </path>
  </svg>
  <%# data-controller="recommendations-loading" %>
  <div style="position: relative; margin-top: 45px;">
    <div class="buttons p-3" style="position: absolute; bottom: 0; width: 100%;">
      <div class="lucky-button d-flex justify-content-center mb-2">
        <%= link_to animes_recommendations_path do %>
          <button data-action="click->typing#loading click->recommendations-loading#loading" class="recommend-button btn core-button">Recommend anything</button>
        <% end %>
      </div>
      <div class="buttons-scrolling-wrapper">
        <% genre_array = ["Shounen", "Action", "Slice of Life"] %>
        <% genre_array.each do |genre| %>
          <%= render "components/genre_button", name: genre %>
        <% end %>
        <div data-genre-toggle-target="genre" class="sub-button box-shadow-effect d-flex align-items-center">
          <label class="container">
            <input data-action="click->genre-toggle#toggle" type="checkbox" style="display: none;">
            <span class="checkbox-text">Action</span>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="button-card">
          <button class="btn sub-button box-shadow-effect">Action</button>
        </div>
        <div class="button-card">
          <button class="btn sub-button box-shadow-effect">Shounen</button>
        </div>
        <div class="button-card">
          <button class="btn sub-button box-shadow-effect">Slice of Life</button>
        </div>
        <div class="button-card">
          <button class="btn sub-button box-shadow-effect">Western</button>
        </div>
        <div class="button-card">
          <button class="btn sub-button box-shadow-effect">Ghibli</button>
        </div>
      </div>
    </div>
  </div>
  <%# <hr class="dotted-hr"> %>
  <%# render "components/pawprints" %>
  <%# render "components/wavey_break" %>
  <div class="popular">
    <div class="container p-3">
      <div class="d-flex gap-2">
        <h2><i class="fa-solid fa-paw"></i></h2>
        <h2>Popular Anime</h2>
      </div>
      <p class="category-desc">Browse some popular anime.</p>
      <div class="scrolling-wrapper">
        <%= render "components/popular_anime_card", random_popular: @random_popular %>
      </div>
    </div>
  </div>
  <%# <hr class="dotted-hr"> %>
  <%# render "components/wavey_break" %>
  <div class="top-anime">
    <div class="container p-3">
      <div class="d-flex gap-2">
        <h2><i class="fa-solid fa-paw"></i></h2>
        <h2>Top Anime</h2>
      </div>
      <p class="category-desc">Best rated anime.</p>
      <div class="top-cards rounded-4 my-3 box-shadow-effect" style="background-color: var(--panda-white);">
        <% @top_anime.each_with_index do |anime, index| %>
          <% if index == @top_anime.size - 1  %>
            <%= link_to anime_path(anime) do %>
              <div>
                <%= render "components/anime_top_card", anime: anime, index: index %>
              </div>
            <% end %>
          <% else %>
            <%= link_to anime_path(anime) do %>
              <div class="border-bottom">
                <%= render "components/anime_top_card", anime: anime, index: index %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%# render "components/anime_top_card", anime: @top_anime.last %>
      </div>
    </div>
  </div>
  <div class="search-anime">
    <div class="container p-3">
      <div class="d-flex gap-2">
        <h2><i class="fa-solid fa-paw"></i></h2>
        <h2>Find an Anime</h2>
      </div>
      <p class="category-desc">Find a specific anime.</p>
      <%= render "components/anime_search" %>
    </div>
  </div>
  <svg class="footer-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
    fill="var(--panda-black)"
    fill-opacity="1"
    d="M0,160L60,186.7C120,213,240,267,360,266.7C480,267,600,213,720,176C840,139,960,117,1080,122.7C1200,128,1320,160,1380,176L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
    </path>
  </svg>
  <div style="background-color: var(--panda-black); color: var(--panda-white)">
    <div class="footer-info p-3">
      <div class="footer-logo d-flex align-items-center gap-1">
        <h2 style="font-size: 2rem; font-weight: bold;">AnimePanda</h2>
        <h3><i class="fa-solid fa-paw"></i></h3>
      </div>
      <div class="the-team p-3">
        <div class="team-mate d-flex gap-3">
          <p style="margin: 0">Michael Stump</p>
          <div class="d-flex gap-2">
            <%= link_to "https://www.linkedin.com/in/michael-stump-79695a324/" do  %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
            <%= link_to "https://github.com/DisasterMike" do  %>
              <i class="fa-brands fa-github"></i>
            <% end %>
          </div>
        </div>
        <div class="team-mate d-flex gap-3">
          <p style="margin: 0">Junichi Kinami</p>
          <div class="d-flex gap-2">
            <%= link_to "https://www.linkedin.com/in/junichikinami/" do  %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
            <%= link_to "https://github.com/jkinami" do  %>
              <i class="fa-brands fa-github"></i>
            <% end %>
          </div>
        </div>
        <div class="team-mate d-flex gap-3">
          <p style="margin: 0">Ramone Robertson</p>
          <div class="d-flex gap-2">
            <%= link_to "https://www.linkedin.com/in/ramone-robertson" do  %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
            <%= link_to "https://github.com/RamoneRobertson" do  %>
              <i class="fa-brands fa-github"></i>
            <% end %>
          </div>
        </div>
        <div class="team-mate d-flex gap-3">
          <p style="margin: 0">Seisuke Fukuda</p>
          <div class="d-flex gap-2">
            <%= link_to "https://www.linkedin.com/in/seisuke-fukuda-902b3a314" do  %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
            <%= link_to "https://github.com/Seisuke22" do  %>
              <i class="fa-brands fa-github"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <p>©️AnimePanda 2024</p>
      </div>
    </div>
  </div>
  <%= render "components/panda_button" %>
</div>
