<div class="show-container">
  <div class="picture">
    <div class="image-container">
      <%= image_tag @anime.picture_url, class: "show-anime-img" %>
      <div class="gradient-overlay"></div>
    </div>
    <div class="text-overlay">
      <div class="back-arrow">
        <div class="title d-flex gap-3">
          <%= link_to root_path do %>
            <i class="fa-solid fa-arrow-left text-decoration-none"></i>
           <% end %>
        </div>
      </div>
      <div class="info row">
        <h2 class="fw-bold text-truncate col-8"><%= @anime.title %></h2>
        <h6 class="fw-bold"><%= @anime.rating %> <i class="fa-solid fa-star rating-star"></i></h6>
        <div class="show-info d-flex gap-3">
          <h6 class= "info-border" style="font-size: medium; color: white;">Rank: <%= @anime.rank %></h6>
          <h6 class = "info-border" style="font-size: medium; color: white;">Ep <%= @anime.episode_count %></h6>
          <h6 class = "info-border" style="font-size: medium; color: white;"><%= @anime.start_date.year %></h6>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: black;">
    <div class="synopsis">
      <h2>Synopsis</h2>
      <%= @anime.synopsis %>
      <h6 class="fw-bold studio-info">Studio: <%= @anime.studio %></h6>
      <div class="sticky-button-container">
        <%= button_to bookmarks_path, method: :post, class: "btn btn-success sticky-button", params: { bookmark: { anime_id: @anime.id, watch_status: :watching } }, style: "width: 195px; border-radius: 10px; background-color: #01b866; color: white;" do %>
          Add to Watchlist
        <% end %>
      </div>
    </div>
  </div>
</div>
