<div data-controller="anime">
  <!-- Image Container -->
  <div class="picture">
    <div class="image-container">
      <iframe width="400" height="550"
        src="<%= @anime.trailer %>&loop=1&controls=0&rel=0&playlist=<%= @anime.trailer.split('/').last.split('?').first %>"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      <div class="gradient-overlay"></div>
    </div>
    <div class="text-overlay">
      <div class="back-arrow">
        <div class="title d-flex gap-3">
          <%= link_to root_path do %>
            <i class="fa-solid fa-arrow-left text-decoration-none pt-5"></i>
          <% end %>
        </div>
      </div>
      <div class="info row">
      <% if @anime.title.length > 22 %>
        <h2 class="fw-bold text-truncate col-8" style="max-width: 100%;" data-anime-target="title"><%= @anime.title %></h2>
      <% else %>
        <h2 class="fw-bold" style="max-width: 100%;" data-anime-target="title"><%= @anime.title %></h2>
      <% end %>
        <h6 class="fw-bold" data-anime-target="rating"><%= @anime.rating %> <i class="fa-solid fa-star rating-star"></i></h6>
          <div class="show-info">
            <% @anime.genre_list.each do |genre| %>
              <% if genre == "psychological" %>
                <h6 class="info-border text-truncate"><%= genre.capitalize %></h6>
              <% else %>
                <h6 class="info-border"><%= genre.capitalize %></h6>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="synopsis-container">
    <div class="synopsis" data-anime-target="synopsis">
      <% if @anime.genre_list.count <= 4 %>
        <h2>Synopsis</h2>
      <% else %>
        <h2 class="pt-4">Synopsis</h2>
      <% end %>
      <div data-anime-target="content" class="synopsis-content">
        <%= @anime.synopsis %>
      </div>
      <!-- Toggle Button -->
      <button class="toggle-button" data-anime-target="toggleButton" data-action="click->anime#toggle">
        Read More
      </button>
      </div>
    </div>
  </div>

  <div class="info-container">
    <% if @anime.genre_list.count <= 4 %>
        <h1>Information</h1>
      <% else %>
        <h2 class="pt-4">Information</h2>
      <% end %>
    <p>Title: <%= @anime.title %></p>
    <p>Episode: <%= @anime.episode_count %></p>
    <p>Rating: <%= @anime.rating %></p>
    <p>Rank: <%= @anime.rank %></p>
    <p>Popularity: <%= @anime.popularity %></p>
    <p>Aired Date: <%= @anime.start_date %> to <%= @anime.end_date %></p>
    <p>Studio: <%= @anime.studio %></p>
    <div class="sticky-button-container">
      <%= button_to bookmarks_path, method: :post, class: "btn btn-success sticky-button", params: { bookmark: { anime_id: @anime.id, watch_status: :watching } }, style: "width: 195px; border-radius: 10px; background-color: #01b866; color: white;" do %>
        Add to Watchlist
      <% end %>
  </div>
</div>
