<!DOCTYPE html>
<html>
  <head>
    <title>AnimePanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <% if current_page?(:controller => animes, :action => recommendations) %>
      <meta http-equiv='cache-control' content='no-cache'>
      <meta http-equiv='expires' content='0'>
      <meta http-equiv='pragma' content='no-cache'>
    <% end %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <% if current_page?(root_url) %>
      <%# render "components/show_anime_banner" %>
    <% end %>
    <% unless @hide_navbar %>
      <%# render "shared/navbar" %>
      <%= render "components/panda_navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div style="min-height: 100vh">
      <%= yield %>
      <%# unless @hide_panda || @skip_panda%>
      <%# render "components/panda_button" %>
      <%# end %>
    </div>
  </body>
</html>
