<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!– Facebook Open Graph data –>
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <% if current_page?(root_url) %>
      <%# render "components/show_anime_banner" %>
    <% end %>
    <% unless @hide_navbar %>
      <%# render "shared/navbar" %>
      <%= render "components/panda_navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div style="min-height: 100vh">
      <%= yield %>
      <%# unless @hide_panda || @skip_panda%>
      <%# render "components/panda_button" %>
      <%# end %>
    </div>
  </body>
</html>
